<% @memos.each do |memo| %>
  <h2>タイトル</h2>
  <p class="display_title"><%= h(memo["title"]) %></p>
  <h3>内容</h3>
  <p class="display_content"><%= h(memo["content"]) %></p>
  <a href='/memos/:<%= memo["id"] %>/edit'><button class="warp_change_button">変更</button></a>

  <form action='/memos/:<%= memo["id"] %>' method="post">
    <input type='hidden' name="_method" value="delete">
    <input class="delete_button" type='submit' value='削除'>
  </form>
<% end %>
