<form method="post" action="/memos">
  <h2>タイトル</h2>
  <p><input class="title" type="text" name="title"></p>
  <h3>内容</h3>
  <p><textarea type="text" name="content"></textarea></p>
  <input class="save_button" type="submit" value="保存">
</form>
